<%- include("includes/head")%>
<%- include("includes/nav")%>

<div class="containe">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Os seus contatos estão abaixo:</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Um erro qualquer!</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Maria</td>
            <td>Abritta</td>
            <td>61 96982157</td>
            <td>mariaabritta@gmail.com</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include("includes/footer")%>
    